apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nextcloud
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "https://github.com/<your-org>/<your-repo>.git"  # Replace with your actual repository
    targetRevision: HEAD
    path: "manifests"
  destination:
    server: "https://kubernetes.default.svc"
    namespace: delaparra-cloud
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
